<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gardener</title>

  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

  <main>

    <h1><a href="/">gardener</a></h1>

    <p class="subtitle">A web-based UI to convert Pure Data patches for <a href="https://www.electro-smith.com/daisy" target="_blank">Daisy</a> hardware, powered by <a href="https://github.com/electro-smith/pd2dsy" target="_blank">pd2dsy</a>.</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="form-element">
        <h2>Board</h2>
        <select name="board">
          <option value="pod">Pod</option>
          <option value="patch">Patch</option>
          <option value="patch_init">patch.Init()</option>
          <option value="field">Field</option>
          <option value="petal">Petal</option>
        </select>
      </div>

      <div class="form-element">
        <h2>Patch file</h2>
        <input type="file" name="pd_patch" />
      </div>

      <section id="submission">
        <input type="submit" value="Upload and compile" />
      </section>
    </form>

  </main>

</body>
</html>
