<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pd2dsy4web</title>

  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

  <main>

    <h1>pd2dsy4web</h1>

    <p>Hello, world!</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="form-element">
        <h2>Board</h2>
        <select name="board">
          <option value="seed">seed</option>
          <option value="pod">pod</option>
        </select>
      </div>

      <div class="form-element">
        <h2>Patch file</h2>
        <input type="file" name="pd_patch" />
      </div>

      <p>
        <input type="submit" value="Build" />
      </p>
    </form>

  </main>

</body>
</html>
