<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pd2dsy4web</title>

  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

  <main>

    <h1>pd2dsy4web</h1>

    <p>Uploaded!</p>

    <p>Your file has been uploaded and will build soon.</p>

    <p>Patch ID: {{ patch_id }}</p>

    <p>Status: <span id="status"></span></p>

    <p id="download-area"><a href="/downloads/daisy-{{ patch_id }}.bin">Download compiled program</a> - You can use the <a href="https://electro-smith.github.io/Programmer/" target="_blank">Daisy Web Programmer</a> to flash the program to your board.</p>
  </main>

  <script type="text/javascript">
    window.PATCH_ID = '{{ patch_id }}';
  </script>
  <script type="text/javascript" defer src="/static/pollPatchState.js"></script>
</body>
</html>
